NoSQL/flows.json
[
    {
        "id": "4c79e9515da989ea",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e846c749ebc7da7f",
        "type": "ibmiot in",
        "z": "4c79e9515da989ea",
        "authentication": "apiKey",
        "apiKey": "0d3d193bdfd5f3b5",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Arduino01",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "ebe1f441d3d9db32",
                "2b1d9bc06a246a7f"
            ]
        ]
    },
    {
        "id": "2b1d9bc06a246a7f",
        "type": "debug",
        "z": "4c79e9515da989ea",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "ebe1f441d3d9db32",
        "type": "delay",
        "z": "4c79e9515da989ea",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 1,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "b78ca8800734f983"
            ]
        ]
    },
    {
        "id": "394672fec3206891",
        "type": "inject",
        "z": "4c79e9515da989ea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "4e1592366232ffb0"
            ]
        ]
    },
    {
        "id": "b78ca8800734f983",
        "type": "function",
        "z": "4c79e9515da989ea",
        "name": "function 2",
        "func": "global.set(\"REV\", msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4e1592366232ffb0",
        "type": "function",
        "z": "4c79e9515da989ea",
        "name": "function 3",
        "func": "global.set(\"REV\", '\"7-b394134d74bb99c7a04007f31e3c11c5\"');\n msg.payload = global.get(\"REV\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d4a3d8981cc02b89",
        "type": "inject",
        "z": "4c79e9515da989ea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "64c7cfcb9d60e5cb"
            ]
        ]
    },
    {
        "id": "64c7cfcb9d60e5cb",
        "type": "function",
        "z": "4c79e9515da989ea",
        "name": "function 4",
        "func": "\n msg.payload = global.get(\"REV\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "8fd1e33faa1bbff2"
            ]
        ]
    },
    {
        "id": "8fd1e33faa1bbff2",
        "type": "debug",
        "z": "4c79e9515da989ea",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "7eca882f5240a389",
        "type": "http in",
        "z": "4c79e9515da989ea",
        "name": "",
        "url": "/distancia",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "e2213861d2dc7133"
            ]
        ]
    },
    {
        "id": "24032333f93e4a2e",
        "type": "http response",
        "z": "4c79e9515da989ea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "e2213861d2dc7133",
        "type": "function",
        "z": "4c79e9515da989ea",
        "name": "function 5",
        "func": "msg.payload = Object()\nmsg.payload = (global.get(\"REV\"))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "24032333f93e4a2e"
            ]
        ]
    },
    {
        "id": "0d3d193bdfd5f3b5",
        "type": "ibmiot",
        "name": "Iago",
        "keepalive": "60",
        "serverName": "6unkgi.messaging.internetofthings.ibmcloud.com/",
        "cleansession": true,
        "appId": "",
        "shared": false
    }
]